[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FormulR"]
	path = FormulR
	url = https://github.com/cran/FormulR
[submodule "LipinskiFilters"]
	path = LipinskiFilters
	url = https://github.com/cran/LipinskiFilters
[submodule "rQSAR"]
	path = rQSAR
	url = https://github.com/cran/rQSAR
